<launch>
    <!-- 1. 启动所有底层硬件和TF（含雷达、摄像头、手柄遥控、激光安全避障） -->
    <include file="$(find robot_bringup)/launch/bringup.launch" />

    <!-- 2. 启动 Cartographer 建图 (全家桶包含建图和栅格地图生成) -->
    <include file="$(find robot_slam)/launch/mapping.launch" />

    <!-- 3. 加入自动保存地图的监控脚本（当launch被ctrl+c结束时保存地图） -->
    <node pkg="robot_bringup" type="auto_save_map.py" name="auto_save_map" output="screen">
        <param name="map_file" value="$(find robot_slam)/map/map.pbstream" />
    </node>

    <!-- 4. 自动保存路径预备点 (手柄B键) -->
    <node pkg="robot_bringup" type="waypoints_saver.py" name="waypoints_saver" output="screen" />
</launch>
